$primary-font: 'Roboto', sans-serif;
$bg-header: #ed722e;
$txt-header: #e7e7e7;
$link-color: #e7e7e7;
$primary-color: #f3efef;
$bg-main: #c9c9c9;
$bg-footer: #1a1a1a;
$favourite: #ff4747;
$color-white: #ececec;
$color-discount: #ff0000;
$color-value: #008000;
$font-large: 1.5rem;
$font-small: 0.6rem;
$font-m: 1rem;